// Bootstrap
@import "../../node_modules/bootstrap/scss/functions";

// Pequenos alterações
$font-family-sans-serif: "Montserrat", sans-serif;
$dark: #141414;
$primary: #6f42c1;
$secondary: #240f32;

$link-decoration: none;

// Bootstrap e alterações
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./abstracts/variables";
@import "./components/base";
@import "./pages/home";
@import "./pages/produtos";
@import "./pages/produto-01";
@import "./pages/finalizar-compra";
@import "./pages/cadastro";
