/* Paleta de cores */
:root {
  --p9-1: #585858;
  --p-10: #292929;
  --p-6: #220743;
}

/* Altera todos os botões indicadores dentro do carrossel para serem circulares */
#promoCarousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  padding: 3px;
  border-radius: 50%;
  border: none;
}

/* Padrão de altura para os banners */
section .carousel-inner .carousel-item img {
  display: block;
  height: 40vh;
}

@media (min-width: 768px) {
  section .carousel-inner .carousel-item img {
    height: 60vh;
  }
}

/* Menu horizontal */
.container-menu {
  background: var(--p9-1);
}

.itens-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 1rem;

  /* Scroll para mobile */
  overflow-x: auto;

  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  -webkit-overflow-scrolling: touch;
}

.itens-menu a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .itens-menu {
    gap: 85px;
    padding: 1.5rem;
  }

  .itens-menu a {
    font-size: 20px;
  }
}

/* Mobile - produtos */
.mobile-img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.mobile-preco {
  font-size: .875rem;
  color: var(--p-10);
}

.card-body a {
  background-color: #8E84E0;
  border: none;
}

.card-body a:hover {
  background-color: var(--p-6);
}

/* Desktop - produtos */
.desktop-img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  object-fit: contain;
  max-height: 250px;
}

.desktop-preco {
  font-size: 1.25rem;
  color: var(--p-10);
}

/* slider-wrapper  */
.slider-wrapper {
  position: relative;
}

.products-scroll-area {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.products-scroll-area::-webkit-scrollbar {
  display: none;
}

.product-item {
  flex: 0 0 20%;
  padding: 0 16px;
}

.btn-slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  background-color: transparent !important;
  border: none !important;
}

.slider-left-btn {
  left: -2rem;
}

.slider-right-btn {
  right: -2rem;
}