@import "../../node_modules/bootstrap/scss/functions";

$font-family-sans-serif: "Montserrat", sans-serif;
$dark: #141414;
$primary: #6f42c1;
$secondary: #240f32;

$link-decoration: none;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "custom_styles";
